*{
    margin: 0;
    padding: 0;
    background: #1f5274;
}

body {
    background: #ffff;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 1250px;
    margin: 10px auto;
    display: grid;
    grid-gap: 20px;
   
}
/* .contenedor div {
    background: #ffff;
    padding: 20px;

} */
.contenedor .header {
    background-color: cornflowerblue;
    color: azure;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
}
.contenedor .header .logo {
    width: 130px;
    height: 90px;
}
.contenedor .header a {
    text-decoration: none;
    color: #ffff;
    text-align: center;
}
.menu {
    justify-content: space-around;
}
.contenedor header li {
    display: inline-block;
    padding: 10px;
}
.contenedor .menubar {
    display: none;
}

.contenedor .contenido {
    grid-column: 1/4;
    grid-row: 2/4;
}
.contenido .peliculas img {
    height: 290px;
    border-radius: 5%;
    padding: 5px;
    
}
.imagenpeliculas {
    display: inline-block;
}
.contenido .series img {
    height: 290px;
    border-radius: 5%;
    padding: 5px;
    display: inline-block;
   
}
.imagenseries {
    display: inline-block;
}
.contenedor .sidebar1 {
    grid-column: 4 / 6;
    grid-row: 2/ 4;
}
.contenedor .sidebar1{
    display: grid; 
    
}
.contenedor .sidebar1 img {
    height: 150px;
    border-radius: 5%;
}
.contenedor .sidebar3 {
    margin-top: 680px;
    grid-column: 4 / 6;
    grid-row: 2/ 5;
}
.contenedor .sidebar3{
    display: grid; 
    
}
.contenedor .sidebar3 img {
    height: 150px;
    border-radius: 5%;
}
.contenedor .sidebar2 {
    grid-column: 4 / 6;
    grid-row: 3/ 5;
}
.contenedor .sidebar4 {
    margin-top: 650px;
    grid-column: 4 / 6;
    grid-row: 3/ 5;
}
.contenedor .sidebar4
{
    display: inline-block; 
    
}
.contenedor .sidebar4 img {
    height: 150px;
    border-radius: 5%;
}
.contenedor .formulario {
    grid-column: 1 / 4;
    grid-row: 4/ 5; 
    
}
.contenedor .sidebar2 img {
    height: 150px;
    border-radius: 5%;
}
.contenedor .formulario {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Calibri";
    color: #ffff;
}
.contenedor .formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
    background: #24303c;
}
.contenedor .controles {
    width: 100%;
    background: #24303c;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #333436;
    font-family: "calibri";
    font-size: 18px;
    padding: auto;
    color: #ffff;
}
.contenedor .formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    background: #24303c;
}
.formulario a {
    color: #ffff;
    text-decoration: underline;
    background: #24303c;
}
.formulario .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #ffff;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}
.contenedor .footer {
    background: grey;
    grid-row: 6/6;
    grid-column-start: 1;
    grid-column-end: 6;
}

@media only screen and (max-width: 800px ) {
    .contenedor header a {
        display: none;
    } 
    
}





